/*      universal css        */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
/*      main section css     */
.main-container {
    background-color: #FFCD9E;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 4rem 1rem 8rem;
}
.main-content-section{
    padding-top: 44px;
    padding-bottom: 44px;
}
.main-container-heading{
    font-weight: 700;
    color: #282828;
    font-size: 2.5rem;
    margin: 10px 0px;
    width: 100%;
}
.heading-lines {
    padding: 4px 0px;
}
.content-description-container{
    color: #484848;
    font-weight: 500;
    margin: 20px 0px;
    font-size: 1.35rem;
}
.content-desc{
    padding: 2px 0px;
}
.content-line{
    color: #282828;
    font-weight: 800;
    margin: 24px 0px;
    font-size: 1.35rem;
}
.input-btn-container {
    margin: 24px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.input-box{
    border: 4px #000000 solid;
    border-radius: 8px;
    width: 360px;
    padding: 12px;
    margin-right: 4px;
}
.input-box::placeholder{
    color: #888888;
    font-weight: 600;
    font-size: 1rem;
}
.btn-register{
    background-color: #282828;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px;
    width: 220px;
    margin-left: 4px;
}
.content-line-2{
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    width: 340px;
    font-size: 0.9rem;
}
.main-content-section, .main-image-container{
    width: 50%;
}
.main-image-container{
    display: flex;
    justify-content: flex-end;
}
.dweep-image{
    height: 520px;
    width: 520px;
}
/*      footer section css   */
.footer-container {
    background-color: #282828;
    color: #FFFFFF;
    padding: 2.5rem 12rem;
    font-weight: 400;
}
.footer-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-span-content{
    padding: 4px;
}
.logo {
    height: 23px;
    width: 23px;
}

/*          responsiveness for tablet and laptop screen       */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        padding: 1.5rem 3rem 1rem 6rem;
    }
    .main-container-heading{
        font-size: 1.75rem;
    }
    .content-description-container{
        font-size: 1.15rem;
    }
    .content-line{
        font-size: 1.15rem;
    }
    .input-box{
        width: 250px;
    }
    .content-line-2{
        width: 250px;
    }
    .dweep-image{
        height: 450px;
        width: 320px;
    }
    .input-box::placeholder{
        font-size: 0.9rem;
    }
    .btn-register{
        font-size: 0.9rem;
        width: 160px;
    }
    .content-line-2{
        font-size: 0.75rem;
    }
    .footer-container {
        padding: 2rem 8rem;
    }
    .logo {
        height: 23px;
        width: 23px;
    }
}
